#
# dyndnsup.conf
#

DD_IFACE="eth0"                   # network interface to use

DD_USERNAME="test"                # account username 
DD_PASSWORD="test"                # account password

DD_SYSTEM="dyndns"                # dyndns|statdns|custom
DD_SERVER="members.dyndns.org"    # dynamic dns server
DD_HOSTNAME="test.dyndns.org"     # account hostname.dyndns.org

DD_WILDCARD="Y"                   # wilcard alias (Y/N)

# End of File
